<div class="container border border-dark">
  <p>observable-example works!</p>

  <p *ngFor="let x of data">{{ x }}</p>
  <button class="btn btn-warning m-2" (click)="getData1()">Get Data 1</button>
  <button class="btn btn-warning m-2" (click)="getData2()">Get Data 2</button>
  <button class="btn btn-warning m-2" (click)="getData3()">Get Data 3</button>
  <button class="btn btn-warning m-2" (click)="getData4()">Get Data 4</button>
  <button class="btn btn-danger m-2" (click)="stop()">stop 4</button>
  <button class="btn btn-warning m-2" (click)="getData5()">Get Data 5</button>
  <button class="btn btn-warning m-2" (click)="getData6()">Get Data 6</button>
  <button class="btn btn-warning m-2" (click)="getData7()">Get Data 7</button>
  <button class="btn btn-warning m-2" (click)="getData8()">Get Data 8</button>
</div>
